.HomeContainer {
    width: 100%;
    max-width: 1075px;
    height: auto;
    display: flex;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}

.description {
    max-width: 490px;
    width: 100%;
}

.H1Home {
    margin-top: 60px;
    font-size: 40px;
}

.PHome {
    margin-top: 60px;
    font-size: 30px;
}

.ButtonContainer {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.imgHomeContainer, .imgHomeContainer img {
    width: 100%;
    max-width: 540px;
    border-radius: 20px;
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .HomeContainer {
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        gap: 25px
    }

    .description {
        max-width: fit-content;
    }

    .PHome {
        margin-top: 40px;
        text-align: center;
        padding: 0 15px;
    }

    .H1Home {
        text-align: center;
    }
    .ButtonContainer {
        justify-content: center;
        margin: 50px 0px 30px 0px;
    }

    .imgHomeContainer {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .HomeContainer {
        margin-top: 40px;
        gap: 15px;
        flex-wrap: wrap;
    }

    .H1Home {
        margin-top: 0px;
        font-size: 35px;
    }

    .PHome {
        margin-top: 20px;
        padding: 0 25px;
    }

    .ButtonContainer {
        margin-top: 45px;
        justify-content: center;
    }

    .imgHomeContainer img {
        margin-top: 30px;
    }
}