.app {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .AccordionContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px #ccc;
    border-radius: 5px;
    margin-top: 100px;
    margin-right: 20px;
  }
  
  .AccordionItem {
    list-style: none;
  }
  
  .AccordionTitle {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 25px;
    cursor: pointer;
    background-color:#e7e7e7;
    font-size: x-large;
}

.AccordionTitle:hover {
    background-color: #27272a;
    color: #098091;
  }
  
  .AccordionTitle.active {
    background-color: #27272a;
    color: #098091;
  }
  .AccordionContent {
    font-size: large;
    border-radius: 15px;
    padding: 10px;
    margin-top: -25px;
    margin-bottom: 30px;
    background-color: #27272a;
    color: #098091;
  }
  
  .ImageContainer {
    flex-shrink: 0;
  }
  
  .ImageContainer img {
    max-width: 700px;
    height: 470px;
    border-radius: 15px;
  }
  
@media (max-width: 1024px) {
  .AccordionContainer {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .AccordionContainer {
    margin: 20px 0px 30px 5px;
  }


  .accordion {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .app {
      margin: 10px;
  }
  .AccordionContainer {
      margin: 10px 0; 
      flex-direction: column;
      align-items: center;
  }

  .accordion {
      margin-top: 50px; 
      margin-right: 0; 
      width: 100%;
      box-sizing: border-box;
  }

  .AccordionTitle {
      font-size: larger;
      padding: 15px;
  }

  .AccordionContent {
      font-size: medium;
      padding: 10px;
  }

  .AccordionContent p {
    margin-top: 15px;
  }

  .ImageContainer {
      max-width: 100%;
      padding: 0 10px;
  }

  .ImageContainer img {
      max-width: 100%;
      height: auto;
  }
}