.ContactContainer {
    display: flex;
    justify-content: center;
}

.WriterContactContainer {
    margin-top: 70px;
}

.TitleButton {
    display: flex;
    justify-content: space-around;
}

.logoContactContainer {
    margin-top: 30px;
}

.Linkedin {
    width: 30px;
    margin-right: 15px;
}

.Instagram {
    width: 25px;
}

.ImgContact {
    width: 500px;
    height: 600px;
    border-radius: 15px;
    margin-top: 50px;
}

.logoContactContainer, .PContact {
    margin-left: 70px;
}

.CvButton {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: whitesmoke;
    color: #098091;
    border: solid #098091;
    border-radius: 5px;
    text-decoration: none;
}

.CvButton:hover {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #27272a;
    color: #098091;
    border: solid #098091;
    border-radius: 5px;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .PContact {
        margin-left: 40px;
    }
}

@media (max-width: 768px) {
    .ContactContainer {
        gap: 20px;
    }

    .ImgContact {
        width: 300px;
        height: 500px;
        margin-left: 75px;
    }

    .PContact {
        margin-left: 25px;
        font-size: larger;
    }

    .Linkedin {
        width: 40px;
    }

    .Instagram {
        width: 32px;
    }

    .PContact {
        margin-top: 5px;
    }

    .logoContactContainer {
        margin-top: 25px;
    }

    .TitleButton {
        margin-top: -15px;
    }
}