.FormContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
}

.NamemailContainer {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

#name, #email {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: whitesmoke;
    font-size: large;
    padding-left: 10px;
}


#message {
    width: 440px;
    height: 200px;
    border-radius: 5px;
    border: none;
    background-color: whitesmoke;
    font-size: large;
    padding-left: 10px;
    padding-top: 15px;
}

.SubmitButton {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #27272a;
    color: #098091;
    border: solid #098091;
    border-radius: 5px;
    text-decoration: none;
    font-size: larger;
}

.SubmitButton:hover {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: whitesmoke;
    color: #098091;
    border: solid #098091;
    border-radius: 5px;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .SubmitButton {
        font-size: x-large;
    }
}

@media (max-width: 768px) {
    .NamemailContainer {
        margin-top: 25px;
        flex-direction: column;
    }

    #message {
        height: 150px;
    }

    .MessageContact {
        width: 100%;
        text-align: center;
    }

    .SubmitButton, .SubmitButton:hover {
        margin-top: 15px;
        font-size: larger;
    }

    .ImgContact {
        margin-top: 50px;
    }
}