.ContactContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.WriterContactContainer {
    margin-top: 70px;
}

.TitleButton {
    display: flex;
    justify-content: space-around;
}

.H2Contact {
    margin-top: 5px;
    margin-left: 5px;
    font-size: xx-large;
}

.PContact {
    margin-top: 35px;
    font-size: larger;
}

.logoContactContainer {
    margin-top: 30px;
    text-align: center;
}

.Linkedin {
    width: 30px;
    margin-right: 15px;
}

.Instagram {
    width: 25px;
}

.ImgContact {
    width: 500px;
    height: 600px;
    border-radius: 15px;
    margin-top: 50px;
}

.logoContactContainer, .PContact {
    margin-left: 55px;
}

.CvButton {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: #098091;
    border: solid #098091;
    border-radius: 5px;
    text-decoration: none;
    font-size: larger;
}

.CvButton:hover {
    padding: 10px 20px;
    background-color: #27272a;
    color: #098091;
    border: solid #098091;
    border-radius: 5px;
    text-decoration: none;
    font-size: larger;
}

@media (max-width: 1024px) {
    .PContact {
        margin-top: 50px;
        margin-left: 40px;
        text-align: center;
        font-size: x-large;
    }

    .WriterContactContainer {
        margin-top: 25px;
    }

    .TitleButton {
        flex-direction: column;
        align-items: center;
    }

    .ContactContainer {
        flex-direction: column-reverse;
    }

    .logoContactContainer {
        text-align: center;
    }

    .Linkedin {
        width: 55px;
    }

    .Instagram {
        width: 46px;
    }

    .ImgContainer {
        margin-top: 20px;
        margin-inline: auto;
    }

    .CvButton {
        font-size: large;
    }

    .TitleButton {
        font-size: x-large;
    }
}

@media (max-width: 768px) {
    .ContactContainer {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .ImgContact {
        width: 300px;
        height: 500px;
        margin-left: 75px;
    }

    .PContact {
        margin-left: 25px;
        font-size: larger;
    }

    .Linkedin {
        width: 40px;
    }

    .Instagram {
        width: 32px;
    }

    .PContact {
        margin-top: 5px;
    }

    .logoContactContainer {
        margin-top: 25px;
        text-align: center;
    }

    .TitleButton {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .WriterContactContainer {
        margin-top: 25px;
    }

    .CvButton {
        font-size: large;
    }
}