.ServicesContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F5F5F5;
}

.WriterContainerServices {
   width: 55%;
   padding: 20px;
}

.H2Services {
    font-size: 35px;
}

.PServices {
    font-size: 20px;
}

.AccordionContainer ul {
    padding-left: 0;
}

.ImageContainer {
    width: 100%;
    max-width: 600px;
}

@media (max-width: 1024px) {
    .ServicesContainer {
        margin: 0px;
        justify-content: unset;
    }

    .WriterContainerServices {
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .ServicesContainer {
        width: 100%;
        height: auto;
        margin-top: 15px;
    }

    .WriterContainerServices {
        margin: 0;
        padding: 0;
    }

    .ImageContainer img {
        max-width: 550px;
    }
}