.ServicesContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F5F5F5;
}

.WriterContainerServices {
   width: 60%;
   padding: 20px;
}

.H2Services {
    font-size: 35px;
}

.PServices {
    font-size: 20px;
}

@media (max-width: 1024px) {
    .ServicesContainer {
        margin-top: 10px;
        height: auto;
    }

    .WriterContainerServices {
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .ServicesContainer {
        width: 110vw;
        height: 70vh;
        margin-top: 1vh;
    }

    .WriterContainerServices {
        margin: 0;
    }

    .ImageContainer img {
        max-width: 550px;
    }
}