.SectionTestimonial {
    background-color: rgb(245, 245, 245);
    width: 100%;
    padding-bottom: 60px;
}

.H2Testimonial {
    font-size: 35px;
    padding-top: 40px;
    padding-left: 70px;
}
.PTestimonial {
    font-size: x-large;
    margin: 30px 0px 60px 70px;
}

@media (max-width: 1024px) {
    .H2Testimonial {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .SectionTestimonial {
        padding: 0;
    }

    .PTestimonial {
        margin: 0px 0px 55px 70px;
        font-size: x-large;
    }
}

@media (max-width: 768px) {
    .H2Testimonial {
        margin: 0px 0px 30px 0px;
    }

    .PTestimonial {
        margin: 0px 0px 40px 25px;
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    .SectionTestimonial {
        width: 100%;
        max-width: 480px; 
        padding: 0 10px 60px 10px; 
        box-sizing: border-box; 
    }

    .H2Testimonial {
        font-size: 28px; 
        padding-top: 20px; 
        padding-left: 10px; 
        text-align: center;
    }

    .PTestimonial {
        font-size: medium; 
        margin: 20px 0 40px 0; 
        padding: 0 10px; 
        text-align: center; 
    }
}