.SectionTestimonial {
    background-color: rgb(245, 245, 245);
    width: 100%;
    padding-bottom: 60px;
}

.H2Testimonial {
    font-size: 35px;
    padding-top: 40px;
    padding-left: 70px;
}
.PTestimonial {
    font-size: x-large;
    margin: 30px 0px 60px 70px;
}

@media (max-width: 1024px) {
    .H2Testimonial {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .SectionTestimonial {
        padding: 0;
    }

    .PTestimonial {
        margin: 0px 0px 55px 70px;
        font-size: x-large;
    }
}

@media (max-width: 768px) {
    .H2Testimonial {
        margin: 0px 0px 30px 0px;
    }

    .PTestimonial {
        margin: 0px 0px 40px 25px;
        padding: 0 20px;
    }
}