.WorkContainer {
    width: 100%;
    max-width: 1440px;
    margin-top: 5px;
}

.Listework {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    padding-left: 10px;
}

.WorkContainer h2 {
    font-size: 35px;
    margin: 70px 0px 40px 70px;
}

.PWork {
    font-size: 20px;
    margin: 0px 0px 80px 70px;
}

@media (max-width: 1024px) {
    .Listework {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .WorkContainer h2 {
        margin-bottom: 35px;
    }

    .PWork {
        margin-bottom: 50px;
    }

    .Listework {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
}