.app {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .AccordionContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
  }
  
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px #ccc;
    border-radius: 5px;
    margin-top: 100px;
    margin-right: 20px;
  }
  
  .AccordionItem {
    list-style: none;
  }
  
  .AccordionTitle {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 25px;
    cursor: pointer;
    background-color:#e7e7e7;
    font-size: x-large;
}

.AccordionTitle:hover {
    background-color: #27272a;
    color: #098091;
  }
  
  .AccordionTitle.active {
    background-color: #27272a;
    color: #098091;
  }
  .AccordionContent {
    font-size: large;
    border-radius: 15px;
    padding: 10px;
    margin-top: -25px;
    margin-bottom: 30px;
    background-color: #27272a;
    color: #098091;
  }
  
  .ImageContainer {
    flex-shrink: 0;
  }
  
  .ImageContainer img {
    max-width: 700px;
    height: 470px;
    border-radius: 15px;
  }
  
