.HomeContainer {
    width: 60vw;
    height: 73vh;
    display: flex;
    margin-top: 16vh;
    margin-left: auto;
    margin-right: auto;
    gap: 150px;
    scroll-margin-top: 15vh; 
}

.imgHomeContainer img {
    height: 80vh;
    border-radius: 20px;
}

.H1Home {
    margin-top: 5vh;
    font-size: 40px;
}

.PHome {
    margin-top: 6vh;
    font-size: 30px;
}

.ButtonContainer {
    margin-top: 8vh;
    display: flex;
    gap: 20px;
}