.ServicesContainer {
    display: flex;
    flex-direction: column;
    height: 92vh;
    margin-top: 16vh;
    scroll-margin-top: 8vh; 
    background-color: #F5F5F5;
}

.WriterContainerServices {
   width: 60%;
   margin: auto;
   padding: 20px;
}

.H2Services {
    font-size: 35px;
}

.PServices {
    font-size: 20px;
}

@media (max-width: 1024px) {
    .ServicesContainer {
        margin-top: 1vh;
        height: 55vh;
    }

    .WriterContainerServices {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .ServicesContainer {
        width: 110vw;
        height: 70vh;
        margin-top: 1vh;
    }

    .WriterContainerServices {
        margin: 0;
    }

    .ImageContainer img {
        max-width: 550px;
    }
}