.ServicesContainer {
    display: flex;
    flex-direction: column;
    height: 92vh;
    margin-top: 16vh;
    scroll-margin-top: 8vh; 
    background-color: #F5F5F5;
}

.WriterContainerServices {
   width: 60%;
   margin: auto;
   padding: 20px;
}

.H2Services {
    font-size: 35px;
}

.PServices {
    font-size: 20px;
}