.Headercontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #27272a;
    color: #098091;
}

.Headercontainer a:link {
    color: #098091;
    text-decoration: none;
}

.Headercontainer a:visited {
    color: #098091;
    text-decoration: none;
}

.Headercontainer a:hover {
    color: white;
    text-decoration: underline;
}

.Headercontainer ul {
    display: flex;
    gap: 20px;
    font-size: x-large;
    list-style: none;
    text-decoration: none;
}

.lastli {
    margin-right: 20px;
}

@media (max-width: 1024px) {
    .Headercontainer {
        height: 6vh;
    }
}

@media (max-width: 768px) {
    .Headercontainer {
        width: 110vw;
    }
}